{% extends 'page/spanish/serveParkInfo.html' %}

{% block parkInfo %}
  <h6 class="heading"><a href={{park.url}}> {{park.name}} </a></h6>
  <p> {{ park.descrip }}</p>
  <footer><a href="/aparcamientos/id={{ park.id }}">View Details &raquo;</a></footer>
{% endblock parkInfo%}

{% block sidebar %}

  <div id="templatemo_sidebar">
    <div class="sidebar_box">
      <h2>Páginas de Usuarios:</h2>
      {% for user in userList %}
        <div class="df_box">
          <h6><a href="{{ user.user.username }}"> {{ user.pageName }} </a></h6>
          <p> Propietario: {{ user.user.username }}</p>
        </div>
        <p><p>
      {% endfor %}
      {% if access %}
      <h6><a href="/xml/top5/_accesible"> Obtenga XML con los 5 parkings más comentados accesibles</a></h6>
      {% else %}
      <h6><a href="/xml/top5"> Obtenga XML con los 5 parkings más comentados</a></h6>
      {% endif %}
    </div>
  </div>

{% endblock sidebar %}
