{% extends 'page/spanish/serveParkInfo.html' %}

{% block parkInfo %}
  <h6 class="heading"><a href={{park.parking.url}}> {{park.parking.name}} </a></h6>
  <p> {{ park.parking.descrip }}</p>
  <p> Agregado el: {{ park.aggregationDate }}</p>
  <footer><a href="/aparcamientos/id={{ park.parking.id }}">View Details &raquo;</a></footer>
{% endblock parkInfo%}

{% block sidebar %}
  <div id="templatemo_content">
    <article clas="df_box">
      {% if access %}
      <h2><a href="/{{ ref }}/xml/_accesible">Obtener XML de la pagina seleccionada, accesible</a></h2>
      {% else %}
      <h2><a href="/{{ ref }}/xml"> Obtener XML de la pagina seleccionada</a></h2>
      {% endif %}
    </article>

    {% if setNamePage %} <!-- SOLO ACCESIBLE DESDE PAGINA DE USUARIO, PARA DAR NOMBRE A LA PAGINA  -->

    <article class="df_box">
      <h6>Si quiere, introduzca un nuevo nombre para su página</h6>
      <form method="Post" action="/setUserPage/{{user.username}}">
        <p><input type="text" name="newName"></p>
        <p><input class="boton" type="submit" value="Submit"></p>
      </form>
    </article>

    <article class="df_box">
      <h2>Agregue mas parkings a su pagina</h2>
      <select id="selectbox" name="" onchange="javascript:location.href = this.value;">
        <option value="#" selected> Agregue parkings:</option>
        {% for parking in everyParks %}
          <option value="/addPark/{{user}}/{{parking.id}}"> {{parking.name}} </option>
        {% endfor %}
      </select>
    </article>

    <article class="df_box">
      <h2>Escoja un nuevo color</h2>
      <select id="selectbox" name="" onchange="javascript:location.href = this.value;">
        <option value="/changeColor/{{user}}/sinColor" selected> Elija </option>
        {% for color in everyColors %}
          <option value="/changeColor/{{user}}/{{color.colorName}}"> {{color.colorName}} </option>
        {% endfor %}
      </select>
    </article>


    <h2>Cambie el tamaño de la letra: (0 = de serie)</h2>
    <form method="Post" action="/changeFontSize/">
      <p><input type="text" name="newSize"></p>
      <p><input class="boton" type="submit" value="Submit"></p>
    </form>

    {% endif %}

  </div>

  {% if nextPage %}
    <div id="templatemo_content">
      <a class="button" href="{{nextPage}}"> Página Siguiente</a>
    </div>
  {% endif %}
{% endblock sidebar%}
